    <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>OpenID Connect - Relying Party</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                {% if app.user %}
                    <span class="pull-right"><a href="{{ path('_oic_rp_logout') }}" class="btn btn-warning">{% trans %}Logout{% endtrans %}</a></span>
                {% else %}
                    <span class="pull-right"><a href="{{ path('login') }}" class="btn btn-warning">{% trans %}Login{% endtrans %}</a></span>
                {% endif %}
                <h1>{% trans %}OpenID_Connect_Relying_Party_sandbox{% endtrans %}</h1>
            </div>
            
            
    {% block content %}{% endblock content %}
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
